<% provide(:title, '10 apps, 9ish weeks') %>
<section class="container">
  <%= image_tag "10_in_9_logo.png", :class => "title" %>
  <div class="main"></div>
  <div class="buttons clearfix">
    <a href="/projects">
      <h1 class="apps">Apps</h1>
    </a>
    <a href="/about">
      <h1 class="about">About</h1>
    </a>
  </div>
  <footer class="_container clearfix">
    <%= image_tag "asterisk.png", :class => "asterisk" %>
    <h4 class="motto">an exercise in self-inflicted suffering</h4>
  </footer>
</section>
<aside class="sidebar clearfix">
  <div class="intro">
    <%= image_tag "head_shot.jpeg", :class => "head-shot" %>
    <h2 class="by-line">Built by Jerry in Rochester NY</h2>
  </div>
  <div class="github info github-1">
    <%= image_tag "github.gif", :class => "github icon" %>
    <h3 class="github username">jvanstry</h3>
  </div>
  <div class="twitter info twitter-1">
    <%= image_tag "twitter.png", :class => "twitter icon" %>
    <h3 class="twitter username">@jvanstry</h3>
  </div>
</aside>
