<% provide(:title, 'New Project') %>
<h1>
  Create this guy
</h1>
<%= form_for @project do |proj| %>
  <%= proj.label :name %>:
  <%= proj.text_field :name %>
  <%= proj.label :github_url %>:
  <%= proj.text_field :github_url %>
  <%= proj.label :thumbnail_url %>:
  <%= proj.text_field :thumbnail_url %>
  <%= proj.label :description %>:
  <%= proj.text_area :description %>
  <%= proj.label :tag_list %>:
  <%= proj.text_field :tag_list %><br>
  <%= proj.submit 'create project'%>
<% end %>