<% provide(:title, 'New Project') %>
<h1>
  Create this guy
</h1>
<%= form_for @project do |proj| %>
  name: <%= proj.text_field :name %><br>
  github_url: <%= proj.text_field :github_url %><br>
  thumbnail_url: <%= proj.text_field :thumbnail_url %><br>
  description: <%= proj.text_area :description %><br>
  tags: <%= proj.text_field :tag_list %><br><br>
  <%= proj.submit 'create project'%>
<% end %>