<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body class="body index clearfix">
  <% flash.each do |key, value| %>
    <div class="error <%= key %>"><%= value %></div>
  <% end %>

<%= yield %>

</body>
</html>
